/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../font/merriweather-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../font/merriweather-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Merriweather";
  margin-top: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #E6E6E6;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 50px 0 10px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  max-width: 705px;
}

.nav__link {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span_ru {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

.span_en {
  color: #666;
}

.menu {
  padding: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  background-image: url(../../img/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

@media screen and (max-width: 725px) {
  .nav__list {
    gap: 30px;
  }
}
@media screen and (max-width: 635px) {
  .nav__list {
    display: none;
  }
  .menu {
    display: block;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero {
  padding-bottom: 32px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__year {
  color: #666;
  /* Text */
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.hero__title {
  color: #14110F;
  margin-top: 23px;
  font-size: 52px;
  font-weight: 700;
  line-height: 85%; /* 61.2px */
}

.hero__span {
  margin-top: 33px;
  color: #14110F;
  font-size: 124px;
  font-weight: 700;
  line-height: 85%; /* 139.4px */
}

.hero__text {
  max-width: 445px;
  color: #000;
  margin-top: 48px;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}

.hero__text_2 {
  max-width: 445px;
  color: #4D4D4D;
  margin-top: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}

.hero__img_block {
  max-width: 545px;
}

@media screen and (max-width: 1110px) {
  .hero__img_block {
    max-width: 345px;
  }
}
@media screen and (max-width: 954px) {
  .hero__title {
    color: #14110F;
    margin-top: 23px;
    font-size: 42px;
    font-weight: 700;
    line-height: 85%; /* 61.2px */
  }
  .hero__span {
    margin-top: 33px;
    color: #14110F;
    font-size: 95px;
    font-weight: 700;
    line-height: 85%; /* 139.4px */
  }
  .hero__img_block {
    max-width: 345px;
  }
}
@media screen and (max-width: 800px) {
  .hero__title {
    color: #14110F;
    margin-top: 18px;
    font-size: 32px;
  }
  .hero__span {
    margin-top: 24px;
    font-size: 65px;
  }
  .hero__img_block {
    max-width: 255px;
  }
  .hero__text {
    max-width: 245px;
    color: #000;
    margin-top: 38px;
    font-size: 18px;
  }
  .hero__text_2 {
    max-width: 245px;
    color: #4D4D4D;
    margin-top: 18px;
    font-size: 18px;
  }
}
@media screen and (max-width: 615px) {
  .hero__title {
    color: #14110F;
    margin-top: 18px;
    font-size: 26px;
  }
  .hero__span {
    margin-top: 24px;
    font-size: 50px;
  }
  .hero__img_block {
    max-width: 220px;
  }
  .hero__text {
    max-width: 180px;
    margin-top: 28px;
    font-size: 16px;
  }
  .hero__text_2 {
    max-width: 180px;
    margin-top: 28px;
    font-size: 16px;
  }
  .hero__year {
    font-size: 12px;
  }
}
@media screen and (max-width: 520px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__content {
    margin: 0 auto;
    padding: 0 10px;
  }
  .hero__title {
    margin-top: 18px;
    font-size: 45px;
  }
  .hero__span {
    margin-top: 24px;
    font-size: 65px;
  }
  .hero__img_block {
    max-width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .hero__text {
    max-width: 350px;
    margin-top: 28px;
    font-size: 18px;
  }
  .hero__text_2 {
    max-width: 300px;
    margin-top: 28px;
    font-size: 18px;
  }
  .hero__year {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    margin-top: 18px;
    font-size: 36px;
  }
  .hero__span {
    margin-top: 24px;
    font-size: 45px;
  }
}
.bio {
  padding-top: 80px;
  padding-bottom: 100px;
}

.bio__title {
  color: #BD9466;
  text-align: center;
  margin-bottom: 70px;
  /* H2 */
  font-size: 64px;
  font-weight: 700;
  line-height: 90%; /* 57.6px */
}

.span {
  color: #BD9466;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
}

.bio__list {
  margin: auto;
  text-align: start;
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  margin-bottom: 90px;
}

.bio__item_1 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: relative;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.bio__item_1::before {
  position: absolute;
  right: 320px;
  content: " 1828";
  display: inline-block;
  color: #999;
  font-size: 112px;
  font-weight: 700;
  line-height: 85%; /* 95.2px */
}

.bio__year {
  display: none;
}

.bio__item_bottom {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.bio__img_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.block__img_none {
  max-width: 300px;
}

.block__img {
  max-width: 374px;
}

.bio__subtitle {
  text-align: center;
  color: #000;
  margin-bottom: 31px;
  margin-top: 90px;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
}

.span_2 {
  color: #BD9466;
  font-weight: 700;
  line-height: 100%; /* 30px */
  font-size: 16px;
}

.bio__year_2 {
  display: none;
  color: #999;
  text-align: center;
  margin: 10px 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%; /* 48px */
}

.bio__list_2 {
  margin: auto;
  text-align: start;
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  margin-bottom: 90px;
}

.bio__item_2 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: relative;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.bio__item_2::before {
  position: absolute;
  right: 320px;
  top: 0;
  content: " 1828";
  display: inline-block;
  color: #999;
  text-align: center;
  vertical-align: top;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%; /* 48px */
}

.content_buttom {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px;
}

.content_bottom_img_block {
  max-width: 512px;
}

.content_bottom_text {
  max-width: 600px;
  color: #333;
  /* Big text */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
  margin-bottom: 45px;
  margin-left: 60px;
}

.content_bottom_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cite {
  color: #333;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.box {
  text-align: center;
}

.bio__all {
  display: inline-block;
  border: 1px solid #BD9466;
  padding: 20px 40px;
  color: #BD9466;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}

@media screen and (max-width: 1160px) {
  .content_bottom_text {
    max-width: 500px;
    margin-left: 20px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1083px) {
  .content_bottom_text {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .content_buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 860px) {
  .bio__year_2 {
    display: block;
  }
  .bio__item_2 {
    -webkit-transform: none;
            transform: none;
    position: none;
  }
  .bio__item {
    -webkit-transform: none;
            transform: none;
    position: none;
  }
  .bio__item_2::before {
    display: none;
  }
  .bio__item_1::before {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .bio__year {
    display: block;
    color: #999;
    font-size: 70px;
    font-weight: 700;
    line-height: 85%; /* 95.2px */
  }
  .bio__item_1 {
    -webkit-transform: none;
            transform: none;
    position: none;
  }
  .bio__item_bottom {
    -webkit-transform: none;
            transform: none;
    position: none;
  }
  .bio__item_1::before {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .bio__all {
    font-size: 20px;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 500px) {
  .bio__title {
    font-size: 48px;
  }
}/*# sourceMappingURL=main.css.map */