.header {
    padding: 50px 0 10px 0;
}
.header__container {
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.nav__list {
         display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        max-width: 705px;
}
.nav__link {
    color: #666;

font-size: 16px;
font-weight: 400;
line-height: 140%; /* 22.4px */
}

.lang {
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.span_ru {
    color:  #1A1A1A;
font-size: 16px;
font-weight: 400;
line-height: 130%; /* 20.8px */
}
.span_en {
    color: #666;
}

.menu{
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
    background-image: url(../../img/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: none;
}
@media screen and (max-width:725px) {
    .nav__list {
       gap: 30px;
}
    
}

@media screen and (max-width:635px) {
    .nav__list {
       display: none;
}
.menu{

    display:block;
}
.header__container{
         display: flex;
        justify-content: space-between;
        align-items: center;
}

}